# fly.toml app configuration file generated for invest-guide-api-wandering-snowflake-2603 on 2026-01-13T21:25:54+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'invest-guide-api-wandering-snowflake-2603'
primary_region = 'ams'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
